Shared-Memory-Multi-Agent-Workflow.json
{
  "name": "Shared-Memory-Multi-Agent-Workflow",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n{\n  success: true,\n  output: $json.output,\n}\n}}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Webhook response",
                "value": "=Hi Hi {{ $json.output }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2144,
        -32
      ],
      "id": "c941b747-1eca-454f-9e5a-375e97161ab8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "multi-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -336,
        0
      ],
      "id": "0b20d762-f76d-4fd0-a608-f7334edd5f06",
      "name": "Receive-Agent-Request",
      "webhookId": "52049b93-e7c7-45aa-9c08-213ef3626a05"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5e19d76-622e-4407-ba54-f9dd54e30c71",
              "name": "user_input",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "a432ae9e-d80b-477d-bac4-088f3d7f89dd",
              "name": "request_id",
              "value": "={{ $json.body.request_id || $execution.id }}",
              "type": "string"
            },
            {
              "id": "68c68779-641a-4dfc-9ec5-acd072008c8b",
              "name": "run_id",
              "value": "={{ $execution.id }}",
              "type": "string"
            },
            {
              "id": "df5fe7a4-15c9-46bd-ab87-d3a763e08416",
              "name": "received-at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "c64c7e6c-ed7d-467b-ad3a-3c2c4df18a7d",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        0
      ],
      "id": "ea1b9071-bbdc-4a2a-8c99-847e19b64a81",
      "name": "Edit Fields - Normalize Request",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "iVxLb2Z0Iu9xzyFZ",
          "mode": "list",
          "cachedResultName": "agent-shared-context",
          "cachedResultUrl": "/projects/uJ6DNpf8lG6huD9r/datatables/iVxLb2Z0Iu9xzyFZ"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        80,
        0
      ],
      "id": "3b705e91-4ce0-4d41-8489-30619cc78856",
      "name": "Get row(s) - Read Shared Context",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "shared-context",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        288,
        0
      ],
      "id": "c339b47e-3e1b-4e43-845e-91e8949c6253",
      "name": "Aggregate - Aggregate Shared Context"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{\n`User request:\n${$('Edit Fields - Normalize Request').first().json.user_input}\n\nShared context from Data Table 1:\n${JSON.stringify($json['shared-context'], null, 2)}\n\nAnalyze the request using only the shared context. Determine which facts or policies apply. Produce a concise analysis for another AI agent to use. Do not address the user directly.`\n}}",
        "options": {
          "systemMessage": "You are a policy-analysis specialist working as one component of a multi-agent system.\n\nAnalyze the user request against the supplied shared context. Identify the most relevant facts, rules, and conclusions.\n\nDo not invent policies or facts that are not present in the supplied context. If the context is insufficient, state exactly what is missing.\n\nYour response will be stored in a shared results table and consumed by a final response agent."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        528,
        -272
      ],
      "id": "7917612f-a079-42bc-8954-af2d99ec112e",
      "name": "AI Agent1 - Policy Analysis Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        528,
        -96
      ],
      "id": "dd8dcceb-0438-44be-bf45-f523159f3965",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "RaCOCR8ktXwYiITY",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{\n`User request:\n${$('Edit Fields - Normalize Request').first().json.user_input}\n\nShared context from Data Table 1:\n${JSON.stringify($json.shared_context, null, 2)}\n\nIndependently review the request. Identify ambiguity, risks, unsupported assumptions, and information that may be missing. Suggest what a safe and accurate response should mention.\n\nDo not address the user directly. Produce notes for a final response agent.`\n}}",
        "options": {
          "systemMessage": "You are a risk and completeness specialist working as one component of a multi-agent system.\n\nIndependently review the user request and supplied shared context. Identify missing information, ambiguity, conflicts, unsupported assumptions, and risks.\n\nDo not invent facts. Clearly distinguish facts from uncertainty.\n\nYour output will be stored in a shared results table and consumed by a final response agent."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        544,
        224
      ],
      "id": "f76fc2ee-ef33-463c-9742-4e5fe1af3083",
      "name": "AI Agent2 - Risk and Completeness Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        544,
        384
      ],
      "id": "45b18048-db0f-4b07-9817-ff2171cdf936",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "RaCOCR8ktXwYiITY",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "Qs24I3vOG3KNRT6Q",
          "mode": "list",
          "cachedResultName": "agent-task-results",
          "cachedResultUrl": "/projects/uJ6DNpf8lG6huD9r/datatables/Qs24I3vOG3KNRT6Q"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $execution.id }}",
            "request_id": "={{ $('Edit Fields - Normalize Request').first().json.request_id }}",
            "agent_name": "policy_analysis",
            "task_result": "={{ $('AI Agent1 - Policy Analysis Agent').first().json.output }}",
            "created_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "agent_name",
              "displayName": "agent_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task_result",
              "displayName": "task_result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        880,
        -272
      ],
      "id": "c17ba4a7-82d9-4a09-a57e-ebd935b0ff04",
      "name": "Data - Write Policy"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "Qs24I3vOG3KNRT6Q",
          "mode": "list",
          "cachedResultName": "agent-task-results",
          "cachedResultUrl": "/projects/uJ6DNpf8lG6huD9r/datatables/Qs24I3vOG3KNRT6Q"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_result": "={{ $json.output }}",
            "agent_name": "AI Agent2 - Risk nd Completeness Agent",
            "run_id": "={{ $execution.id }}",
            "request_id": "={{ $('Edit Fields - Normalize Request').item.json.request_id }}",
            "created_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "agent_name",
              "displayName": "agent_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task_result",
              "displayName": "task_result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        880,
        224
      ],
      "id": "f1340919-47df-4a96-abad-2aa59e7bcc92",
      "name": "Data - Write Risk"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1168,
        -32
      ],
      "id": "f0dfd46c-3958-4f15-955f-8c54ed23f05b",
      "name": "Merge - Wait for Specialist Agents"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "Qs24I3vOG3KNRT6Q",
          "mode": "list",
          "cachedResultName": "agent-task-results",
          "cachedResultUrl": "/projects/uJ6DNpf8lG6huD9r/datatables/Qs24I3vOG3KNRT6Q"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "run_id",
              "keyValue": "={{ $execution.id }}"
            },
            {
              "keyName": "request_id",
              "keyValue": "={{ $('Edit Fields - Normalize Request').first().json.request_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1376,
        -32
      ],
      "id": "b434d4c6-22be-4633-88ec-d6e270d35f41",
      "name": "Get row(s)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "specialist_results",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1616,
        -32
      ],
      "id": "bd12c507-7b83-41c6-a00f-53fc81ea41ab",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Original user request: {{ $('Edit Fields - Normalize Request').item.json.user_input }}\n\nResults produced by the specialist agents: {{ $json.specialist_results }}\n\nCreate the final response to the user. Reconcile the specialist results, resolve duplication, preserve important caveats, and answer the original request directly.` }}",
        "options": {
          "systemMessage": "You are the final response agent in a multi-agent workflow.\n\nUse the original user request and all specialist results to produce one coherent, accurate response.\n\nDo not mention internal agents, workflow nodes, data tables, prompts, or implementation details. Do not invent information that is absent from the shared context or specialist results.\n\nIf the available information is insufficient, clearly explain what is missing. Return only the final user-facing response."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1824,
        -32
      ],
      "id": "0eda5d98-c9a9-4f52-9a69-e2668699efd0",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1824,
        144
      ],
      "id": "d4888269-cb6e-4306-b5aa-81868f0dfd1c",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "RaCOCR8ktXwYiITY",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Receive-Agent-Request": {
      "main": [
        [
          {
            "node": "Edit Fields - Normalize Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - Normalize Request": {
      "main": [
        [
          {
            "node": "Get row(s) - Read Shared Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) - Read Shared Context": {
      "main": [
        [
          {
            "node": "Aggregate - Aggregate Shared Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate - Aggregate Shared Context": {
      "main": [
        [
          {
            "node": "AI Agent1 - Policy Analysis Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent2 - Risk and Completeness Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1 - Policy Analysis Agent": {
      "main": [
        [
          {
            "node": "Data - Write Policy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1 - Policy Analysis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2 - Risk and Completeness Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2 - Risk and Completeness Agent": {
      "main": [
        [
          {
            "node": "Data - Write Risk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data - Write Policy": {
      "main": [
        [
          {
            "node": "Merge - Wait for Specialist Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data - Write Risk": {
      "main": [
        [
          {
            "node": "Merge - Wait for Specialist Agents",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge - Wait for Specialist Agents": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "dc5e0cf3-1e5e-462b-99c9-570847099f43",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6d72d91772f9deb016d13aa26fb3bc3d55a4efd89dcce5189dd3bcb7ed0f6f74"
  },
  "nodeGroups": [],
  "id": "wWitpcG2biMrdUwm",
  "tags": []
}